<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Choisissez votre service</h1>
      <p class="lead">Sélectionnez parmi les services que nous offrons</p>
    </div>
  </div>
  <div *ngIf="loading" class="text-center">
    <p-progressSpinner></p-progressSpinner>
    <p>Déploiement de votre service, veuillez patienter...</p>
  </div>
  <div *ngIf="!loading" class="row mt-4">
    <div class="col-md-4" *ngFor="let server of servers">
      <div class="card">
        <img class="card-img-top" [src]="server.image" alt="Server image">
        <div class="card-body">
          <h5 class="card-title">{{ server.name }}</h5>
          <p class="card-text">{{ server.description }}</p>
          <p class="card-text"><strong> {{ server.prix }}</strong></p>
          <button pButton type="button" label="Commander ce service" icon="pi pi-shopping-cart" (click)="redirectToPayment(server)"></button>
          <!--<button *ngIf="server.name === 'Serveur Wordpress'" pButton type="button" label="Commander ce service" icon="pi pi-shopping-cart" (click)="orderWordpressServer(server)"></button>-->
          <!--<button *ngIf="server.name === 'Serveur Odoo'" pButton type="button" label="Commander ce service" icon="pi pi-shopping-cart" (click)="orderOdooServer(server)"></button>
  <button *ngIf="server.name === 'Serveur Redmine'" pButton type="button" label="Commander ce service" icon="pi pi-shopping-cart" (click)="orderRedmineServer(server)"></button>-->
        </div>
      </div>
    </div>
  </div>
</div>
