<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Choose Your Server</h1>
      <p class="lead">Select from the different types of servers we offer.</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4" *ngFor="let server of servers">
      <div class="card">
        <img class="card-img-top" [src]="server.image" alt="Server image">
        <div class="card-body">
          <h5 class="card-title">{{ server.name }}</h5>
          <p class="card-text">{{ server.description }}</p>
          <button pButton type="button" label="Order Now" icon="pi pi-shopping-cart" (click)="orderServer(server)"></button>
        </div>
      </div>
    </div>
  </div>
</div>

